apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: stackoverflow

resources:
  - namespace.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: stackoverflow
  app.kubernetes.io/managed-by: argocd

images:
  - name: stackoverflow
    newName: ghcr.io/henrik-infr/stackoverflow
    newTag: latest
