apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: stackoverflow

resources:
  - namespace.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - route.yaml

commonLabels:
  app.kubernetes.io/name: stackoverflow
  app.kubernetes.io/managed-by: argocd

images:
  - name: stackoverflow
    newName: image-registry.openshift-image-registry.svc:5000/stackoverflow/stackoverflow-web
    newTag: latest
