apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: sqlserver-anyuid-scc
  labels:
    app.kubernetes.io/name: stackoverflow
    app.kubernetes.io/component: database
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:anyuid
subjects:
  - kind: ServiceAccount
    name: default
    namespace: stackoverflow
